# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
.next
out
build
dist

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debug
.env*.local

# IDE
.vscode
.idea
*.swp
*.swo
